.container {
  position: relative;
}

a {
  color: white;
}

.song-title {
  position: absolute;
  width: 568px;
  bottom: 5px;
  padding: 16px;
  text-align: center;
  background-color: rgba(0,0,0, 0.3);
}
.favorite {
     padding: 20px;
     margin-bottom: 16px;
     background-color: #FD8A8A;
}
.container:hover {
      transform: scale(1.02);
      font-weight: bold;
}
